@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/noto-sans-bengali";

html,
body {
  height: 100vh !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
